<article class="band" id="{{ id }}">
  <div class="band__container">
    <h1 class="band__container--name" style="color: black;">{{ name }}</h1>
    <img class="band__container--img" src="{{ image }}" alt="imagen de { name}" title="{ name}" />
    <p class="band__container--text" style="color: black;">{{ description }}</p>
  </div>
  <div class="band__member">
    <a class="link" routerLink="/">Volver</a>
    <ul class="band__memberlist">
      Miembros de la banda:
      <li class="band__memberlist--member" *ngFor="let member of bandMembers">{{ member }}</li>
      <hr class="band__memberlist--vertical-line" />
    </ul>
  </div>
</article>
