.band {
  margin-top: 60px;
  margin-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.band__container--name {
  font-size: 40px;
  text-align: center;
  margin-bottom: 15px;
}

.band__container--img {
  width: 500px;
  height: auto;
  margin-bottom: 40px;
}

.band__container--text {
  width: 500px;
  text-align: justify;
}

.band__member {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.band__memberlist {
  font-size: 25px;
  margin-bottom: 15px;
}

.band__memberlist--member {
  margin-bottom: 10px;
  list-style: none;
  text-align: center;
  color: black;
}

.band__memberlist--vertical-line {
  height: 3px;
  background-color: black;
}

.link {
  color: black;
  text-decoration: none;
  border: 1px black solid;
  border-radius: 10px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding: 10px 20px 10px 20px;
  margin-right: 25px;
  margin-bottom: 20px;
}

.link:hover {
  background-color: black;
  color: white;
  -webkit-transition: ease 1s;
  transition: ease 1s;
}

@media all and (max-width: 960px) {
  .band {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .band__container {
    width: 400px;
    margin-right: 45px;
  }
  .band__container--img {
    width: 400px;
  }
  .band__container--text {
    width: 400px;
  }
  .band__memberlist {
    font-size: 20px;
    /* 
      margin-left: 10px; */
  }
}

@media all and (max-width: 700px) {
  .band__container {
    width: 300px;
    margin-right: 45px;
  }
  .band__container--img {
    width: 300px;
  }
  .band__container--text {
    width: 300px;
  }
  .band__memberlist {
    font-size: 16px;
    margin-left: 10px;
  }
  .band__memberlist--member {
    font-size: 14px;
  }
}

@media all and (max-width: 550px) {
  .band {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .band__member {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .band__memberlist--member {
    margin-top: 5px;
  }
  .band__memberlist--vertical-line {
    display: none;
  }
  .band__container {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media all and (max-width: 320px) {
  .band__container {
    width: 300px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin: 0px 1px 10px 2px;
  }
  .band__container--img {
    width: 300px;
  }
  .band__container--text {
    width: 300px;
  }
}
/*# sourceMappingURL=detail.component.css.map */