.header {
  margin-top: -10;
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
  background-color: black;
  color: white;
  &__title {
    font-size: 40px;
    margin: 0;
    padding-bottom: 15px;
  }
  
}
