.header {
  margin-top: -10;
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
  background-color: black;
  color: white;
  &__logo {
    width: 160px;
  }
}

@media all and (max-width: 790px) {
  .header__logo {
    position: relative;
    top: 20px;
  }
}
