<app-header></app-header>
<main class="main">
  <form class="main__form">
    <input (keyup.enter)="filterByName($event)" (blur)="filterByName($event)" class="main__form--input" type="text" placeholder=" Busca tu banda" />
    <button class="main__form--btn" (click)="filterByName($event)" type="button">Buscar</button>
  </form>
  <ul class="main__list">
    <ng-template [ngIf]="filterBands">
      <li class="main__list--item" *ngFor="let band of Mybands" id="{{ band.id }}">
        <h1 class="main__list--item__title">{{ band.name }}</h1>
        <div class="main__list--item__img">
          <img class="image" src="{{ band.image }}" />
        </div>
        <a class="main__list--linkToDetail" routerLink="/bandDetail/{{ band.id }}">+ Info</a>
      </li>
    </ng-template>
    <ng-template #elseBlock>
      <li class="main__list--item" *ngFor="let band of filterBands" id="{{ band.id }}">
        <h1 class="main__list--item__title">{{ band.name }}</h1>
        <div class="main__list--item__img">
          <img class="image" src="{{ band.image }}" />
        </div>
        <a class="main__list--linkToDetail" routerLink="/bandDetail/{{ band.id }}">+ Info</a>
      </li>
    </ng-template>
  </ul>
</main>
