.main {
  background-color: black;
  padding-top: 30px;
  padding-bottom: 43px;
  height: 110%;
  &__form {
    width: 300px;
    display: flex;
    justify-content: space-evenly;
    height: 35px;
    margin-bottom: 30px;
    margin-left: 50px;
    &--input {
      border-radius: 3px;
      border: none;
    }
    &--btn {
      border-radius: 3px;
      border: none;
      background-color: withe;
      width: 80px;
      font-size: 15px;
    }
    &--btn:hover {
      background-color: rgb(59, 59, 59);
      color: white;
      transition: ease 1s;
    }
  }
  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 20px;
    justify-items: center;
    padding: 0;
    &--item {
      list-style: none;
      &__title {
        color: white;
        font-size: 20px;
        text-decoration-line: overline;
        text-align: center;
        margin-bottom: 10px;
      }
      &__img {
        width: 300px;
        align-items: center;
        margin-bottom: 10px;
      }
    }
    &--linkToDetail {
      color: white;
      text-emphasis: none;
      text-decoration: none;
      border: solid 1px white;
      border-radius: 3px;
      padding: 2px 5px 2px 5px;
    }
    &--linkToDetail:hover {
      background-color: white;
      color: black;
      transition: ease 1s;
    }
  }
}
.image {
  width: 100%;
  min-height: 170px;
  max-height: 170px;
  margin: 0 auto;
  filter: gray;
  filter: grayscale(100%);
}
.image:hover {
  transition: ease 2s;
  filter: none;
  filter: grayscale(0%);
}
.add-band {
  position: absolute;
  top: 40px;
  right: 55px;
  color: white;
  display: flex;
  flex-direction: column;
  z-index: 9999;
  &__image {
    width: 50px;
    height: 50px;
    align-self: flex-end;
    margin-bottom: 10px;
  }
  &__list {
    list-style: none;
    display: none;
    cursor: pointer;
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 3px;

    &--item {
      margin-bottom: 3px;
    }
  }
}
.show {
  display: block;
}
@media all and (max-width: 1000px) {
  .main {
    &__list {
      grid-template-columns: 1fr 1fr;
      &--item__img {
        width: 250px;
      }
    }
  }
}
@media all and (max-width: 720px) {
  .main {
    &__list {
      grid-template-columns: 1fr 1fr;
    }
  }
}
@media all and (max-width: 525px) {
  .main__form {
    width: 220px;
    &--input {
      width: 120px;
      height: 25px;
    }
    &--btn {
      width: 55px;
      height: 25px;
    }
  }
  .main__list--item__img {
    width: 170px;
  }
  .image {
    max-height: 120px;
    min-height: 120px;
  }
}
@media all and (max-width: 370px) {
  .add-band {
    top: 45px;
    right: 25px;
    &__image {
      width: 30px;
      height: 30px;
    }
  }
  .main__list {
    grid-template-columns: 1fr;
  }
}
