.main {
  background-color: black;
  padding-top: 30px;
  &__list {
    display: grid;
    grid-template-columns: 1fr, 1fr, 1fr;
    &--item {
      &__title {
        color: white;
        font-size: 20px;
        font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
      }
      &__img {
        width: 300px;
      }
    }
  }
}
.image {
  width: 100%;
}
